<footer id="site-footer" class="sipex-footer">
    <div class="container-fluid footer-content">
      <div class="row align-items-center">
        <div class="col-lg-4 footer-logo">
          <img src="{{ h.url_for_static('images/sipex_logo_transparent-lg.png') }}" alt="Silviculture Innovation Program">
        </div>
        
        <div class="col-lg-4 footer-links">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="https://sip.bvcentre.ca/">> Silviculture Innovation Program</a></li>
            <li><a href="https://bvcentre.ca/">> Bulkley Valley Research Centre</a></li>
            <li><a href="#">> About the Program</a></li>
            <li><a href="#">> Help Pages</a></li>
            <li><a href="#">> Terms and Conditions</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4 footer-contact">
          <h4>CONTACT US</h4>
          <p>
            201-3731 1st Avenue, Box 4274<br>
            Smithers, British Columbia V0J 2N0<br>
            <strong>Phone:</strong> (250) 847 2827<br>
            <strong>Email:</strong> sip.info@bvcentre.ca
          </p>
          <div class="social-links">
            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <p>SIP Exchange | Silviculture Innovation Program © 2025 All rights reserved</p>
      </div>
    </div>
  </footer>