<footer id="site-footer" class="sipex-footer">
    <div class="container-fluid footer-content">
      <div class="row align-items-start">
        <div class="col-lg-3 footer-logo">
          <img src="{{ h.url_for_static('images/sipex_logo_transparent-lg.png') }}" alt="Silviculture Innovation Program">
          <div class="social-links">
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        
        <div class="col-lg-3">
          <!-- Empty column -->
        </div>
        
        <div class="col-lg-3 footer-links">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="https://sip.bvcentre.ca/">> Silviculture Innovation Program</a></li>
            <li><a href="https://bvcentre.ca/">> Bulkley Valley Research Centre</a></li>
            <li><a href="#">> Featured Topics</a></li>
            <li><a href="#">> Help Page</a></li>
          </ul>
        </div>
        
        <div class="col-lg-3 footer-contact">
          <h4>CONTACT US</h4>
          <p>
            3855 2nd Avenue, Box 4274<br>
            Smithers, British Columbia<br>
            <strong>Phone:</strong> (250) 847 2827<br>
            <strong>Email:</strong> <a href="mailto:sip.info@bvcentre.ca">sip.info@bvcentre.ca</a>
          </p>
        </div>
      </div>
      
      <div class="footer-bottom">
        <p>SIP Exchange | Silviculture Innovation Program © 2025 All rights reserved</p>
      </div>
    </div>
</footer>