include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/sipex *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/sipex/migration *.ini *.py *.mako
recursive-include ckanext/sipex/public *.*
