{% ckan_extends %}
{% block primary_content %}
    <div role="main" class="hero">
    <div class="overlay"></div>
        <div class="hero">
            <div class="header-text">
                <div class="col-md-12">
                    <div class="container">
                      <h1>Bulkley Valley Research Centre Data Hub</h1>
                      <p>A centralized platform to manage research data related to the natural resources sector.</p>
                      {% block search %}
                      {% snippet 'home/snippets/search.html' %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
  </div>
{% endblock %}